In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

import selenium
from selenium import webdriver
import re
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import time
from bs4 import BeautifulSoup

from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException

import requests

In [2]:
#connecting chrome to 
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [3]:
#openning the olx used car webpage
driver.get('https://www.olx.in/cars_c84')
# give some time to load the webpage
time.sleep(2)

In [4]:
# scrape all product urls
car_urls = []
start=0
end=125
for page in range(start,end):#for loop for scrapping 125 pages
    url=driver.find_elements(By.XPATH,'//li[@class="_31j8e"]//a')       #scraping urls
    for i in url:
        car_urls.append(i.get_attribute("href"))                        #appending the urls in car_urls list
    nxt_button=driver.find_element(By.XPATH,'//button[@type="button"]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(2)

In [5]:
len(car_urls)

5000

In [6]:
# blank list variables   
Brand = []
Variant=[]
Fuel=[]
Km=[]
Owner = []
Location = []
Price=[]



for url in car_urls: ##loop for every car in the list
    driver.get(url)
    
    try:
        brand= driver.find_element(By.XPATH,'//div[@data-aut-id="itemTitle"]')
        Brand.append(brand.text)
    except NoSuchElementException:
        Brand.append('null') 
        
    try: 
        owner= driver.find_element(By.XPATH,'//div[@class="_1gasz"]')
        Owner.append(owner.text)
    except NoSuchElementException:
        Owner.append('null') 
        
    try:
        fuel= driver.find_element(By.XPATH,'//div[@class="_3qDp0"]')
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('null') 
        
    try:
        km= driver.find_element(By.XPATH,'//div[@class="aOxkz"]//div[2]')
        Km.append(km.text)
    except NoSuchElementException:
        Km.append('null') 
        
    try:
        variant= driver.find_element(By.XPATH,'//div[@class="aOxkz"]//div[3]/div')
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('null') 
        
        
    try:
        loc= driver.find_element(By.XPATH,'//div[@class="_1l939"]/div[2]')
        Location.append(loc.text)
    except NoSuchElementException:
        Location.append('null') 
        
    try:
        price= driver.find_element(By.XPATH,'//div[@class="_3FkyT"]')
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('null')

In [7]:
print(len(Brand),len(Variant),len(Fuel),len(Km),len(Owner),len(Location),len(Price))

5000 5000 5000 5000 5000 5000 5000

In [8]:
df=pd.DataFrame({'Brand':Brand,'Variant':Variant,'Fuel':Fuel,'Km_driven':Km,'Owner':Owner,'Location':Location,'Price':Price})
df

,Brand,Variant,Fuel,Km_driven,Owner,Location,Price
0,Honda Amaze (2019),MANUAL,DIESEL,69511.0 KM,1st,"Location\nRTC Colony, Hyderabad","₹ 7,55,000"
1,Maruti Suzuki Alto K10 (2018),MANUAL,PETROL,57071.0 KM,1st,"Location\nSindhu Nagar, Bhilwara","₹ 3,30,000"
2,Mahindra Bolero Power Plus (2020),MANUAL,DIESEL,67000.0 KM,--,"Location\nPolo Field, Tezpur","₹ 8,65,000"
3,Toyota Innova (2008),MANUAL,DIESEL,120000 KM,Second,"Location\nHussaini Alam, Hyderabad","₹ 2,70,000"
4,Maruti Suzuki 1000 (1999),MANUAL,PETROL,40000 KM,Second,"Location\nSector 2A, Chandigarh","₹ 50,000"
...,...,...,...,...,...,...,...
4995,Hyundai Verna (2012),MANUAL,PETROL,"99,000 KM",2nd,"Location\nBenachiti, Durgapur","₹ 3,49,999"
4996,Hyundai Creta (2017),MANUAL,DIESEL,35000.0 KM,2nd,"Location\nKailash Nagar, Mumbai","₹ 8,99,000"
4997,Hyundai Fluidic Verna (2011),MANUAL,DIESEL,126000.0 KM,1st,"Location\nKukatpally, Hyderabad","₹ 4,38,000"
4998,Hyundai Verna (2015),MANUAL,DIESEL,61000.0 KM,1st,"Location\nThane West, Thane","₹ 5,99,000"
4999,Volkswagen Vento (2015),AUTOMATIC,PETROL,55000.0 KM,2nd,"Location\nKandivali West, Mumbai","₹ 5,55,000"

In [9]:
df.to_csv('Used Car Details')

In [10]:
#loading the train and test datasets
df=pd.read_csv(r"Used Car Details")


print("Shape of the dataset:", df.shape)

Shape of the dataset: (5000, 8)