In [1]:
#Question 1

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
browser = webdriver.Chrome()
browser.get('https://www.naukri.com/')

In [3]:
search_job = browser.find_element(By.CLASS_NAME,"suggestor-input ")
search_job

In [4]:
search_job.send_keys("Data Analyst")

In [5]:
search_locn = browser.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [6]:
search_locn.send_keys("Bangalore")

In [7]:
search_btn = browser.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [8]:
search_btn.click()

In [15]:
title_tags=browser.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')


job_title = []

for i in title_tags[0:10]:

    title=i.text

    job_title.append(title)
    
job_title

['Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Data Analyst',
 'Senior Data Analyst',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst/Senior Data Analyst',
 'Financial Data Analyst']

In [16]:
comp_name = browser.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

companies=[]

for i in comp_name[0:10]:

    companies.append(i.text)
    
companies

['Collabera',
 'Thomson Reuters',
 'Capco',
 'CURise Analytics Pvt. Ltd.',
 'Thomson Reuters',
 'KrazyBee',
 'Optum',
 'Optum',
 'Meesho',
 'Nuance India']

In [17]:
loc_name = browser.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

location = []

for i in loc_name[0:10]:


    location.append(i.text)
    
location

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [23]:
exp_tags = browser.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

experience = []

for i in exp_tags[0:10]:

    experience.append(i.text)

experience

['6-11 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-6 Yrs',
 '3-8 Yrs']

In [24]:
df=pd.DataFrame()

df['Job Title'] = job_title
df['Company'] = companies
df['Experience'] = experience
df['Location'] = location

In [25]:
df

,Job Title,Company,Experience,Location
0,Sr.Business Data Analyst,Collabera,6-11 Yrs,"Bangalore/Bengaluru, karnataka\n(WFH during Co..."
1,Sr Data Analyst,Thomson Reuters,5-8 Yrs,Bangalore/Bengaluru
2,Senior Data Analysis Analyst,Capco,7-12 Yrs,"Bangalore/Bengaluru, Pune, Chennai"
3,Job opportunity For Data Analyst at Trellance ...,CURise Analytics Pvt. Ltd.,0-2 Yrs,"Bangalore/Bengaluru, Ahmedabad"
4,Data Analyst,Thomson Reuters,2-3 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,KrazyBee,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)
6,Associate Data Analyst,Optum,2-7 Yrs,Bangalore/Bengaluru
7,Associate Data Analyst,Optum,1-4 Yrs,Bangalore/Bengaluru
8,Data Analyst/Senior Data Analyst,Meesho,3-6 Yrs,Bangalore/Bengaluru
9,Financial Data Analyst,Nuance India,3-8 Yrs,Bangalore/Bengaluru

In [35]:
#Question 2

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [36]:
browser = webdriver.Chrome()
browser.get('https://www.naukri.com/')

In [37]:
search_job = browser.find_element(By.CLASS_NAME,"suggestor-input ")
search_job

In [38]:
search_job.send_keys("Data Scientist")

In [39]:
search_locn = browser.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [40]:
search_locn.send_keys("Bangalore")

In [41]:
search_btn = browser.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [42]:
search_btn.click()

In [43]:
title_tags=browser.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')


job_title = []

for i in title_tags[0:10]:

    job_title.append(i.text)
    
job_title

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Data Science - Senior Data Scientist - Analytics',
 'Principal - Data Scientist',
 'Research and Development -AI/ML -(PhD )',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'Data Scientist',
 'Data Scientist- Assistant Manager/Manager']

In [44]:
loc_name = browser.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

location = []

for i in loc_name[0:10]:


    location.append(i.text)
    
location

['Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Mumbai',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

In [45]:
comp_name = browser.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

companies=[]

for i in comp_name[0:10]:

    companies.append(i.text)
    
companies

['Wipro',
 'Wipro',
 'PayU',
 'Paytm',
 'Schneider Electric',
 'EXL',
 'Fractal Analytics',
 'Paytm',
 'UPL',
 'Genpact']

In [46]:
df=pd.DataFrame()

df['Job Title'] = job_title
df['Company'] = companies
df['Location'] = location

df

,Job Title,Company,Location
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
1,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
2,Opportunity For Data Scientist - Female Candid...,PayU,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
3,Data Science - Senior Data Scientist - Analytics,Paytm,"Bangalore/Bengaluru, Noida"
4,Principal - Data Scientist,Schneider Electric,Bangalore/Bengaluru
5,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
6,Senior Data Science Engineer,Fractal Analytics,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
7,Data Science - Engineering Manager,Paytm,"Bangalore/Bengaluru, Noida, Mumbai"
8,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"
9,Data Scientist- Assistant Manager/Manager,Genpact,Bangalore/Bengaluru

In [26]:
#Question 3

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [27]:
browser = webdriver.Chrome()
browser.get('https://www.naukri.com/')

In [28]:
search_job = browser.find_element(By.CLASS_NAME,"suggestor-input ")
search_job

In [29]:
search_job.send_keys("Data Scientist")

In [30]:
search_locn = browser.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [31]:
search_locn.send_keys("Delhi/NCR")

In [32]:
search_btn = browser.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [33]:
search_btn.click()

In [34]:
salary_filter = browser.find_element(By.XPATH, '//span[@title="3-6 Lakhs"]')

salary_filter.click()

In [40]:
title_tags=browser.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')


job_title = []

for i in title_tags[0:10]:

    job_title.append(i.text)
    
job_title

['Data Scientist - IN3',
 'Artificial Intelligence, Virtual Reality Developer - L1',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist',
 'Senior Associate - Data Science',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist',
 'Data Scientist',
 'DATA Scientist with Fraud Analytics Experience',
 'Senior Data Scientist']

In [41]:
loc_name = browser.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

location = []

for i in loc_name[0:10]:


    location.append(i.text)
    
location

['Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [42]:
comp_name = browser.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

companies=[]

for i in comp_name[0:10]:

    companies.append(i.text)
    
companies

['Walmart',
 'ATG Business Solutions',
 'Boston Consulting Group',
 'Infosys',
 'Black Turtle',
 'EXL',
 'Applied Materials',
 'Applied Materials',
 'Concentrix',
 'PayU']

In [46]:
exp_tags = browser.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')


experience = []

for i in exp_tags[0:10]:
    
    experience.append(i.text)

experience

['2-5 Yrs',
 '1-5 Yrs',
 '2-5 Yrs',
 '2-7 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '2-4 Yrs',
 '4-7 Yrs',
 '2-4 Yrs',
 '3-7 Yrs']

In [47]:
df=pd.DataFrame()

df['Job Title'] = job_title
df['Company'] = companies
df['Location'] = location
df['Experience'] = experience
df

,Job Title,Company,Location,Experience
0,Data Scientist - IN3,Walmart,Bangalore/Bengaluru,2-5 Yrs
1,"Artificial Intelligence, Virtual Reality Devel...",ATG Business Solutions,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",1-5 Yrs
2,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru",2-5 Yrs
3,Data Scientist,Infosys,Bangalore/Bengaluru,2-7 Yrs
4,Senior Associate - Data Science,Black Turtle,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",4-7 Yrs
5,Data Scientist - Noida/Bangalore,EXL,"Noida, Bangalore/Bengaluru",5-10 Yrs
6,Data Scientist,Applied Materials,Bangalore/Bengaluru,2-4 Yrs
7,Data Scientist,Applied Materials,Bangalore/Bengaluru,4-7 Yrs
8,DATA Scientist with Fraud Analytics Experience,Concentrix,Bangalore/Bengaluru,2-4 Yrs
9,Senior Data Scientist,PayU,Bangalore/Bengaluru,3-7 Yrs

In [6]:
#Ques.4

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [7]:
browser = webdriver.Chrome()
browser.get('https://www.flipkart.com/')

In [8]:
prod_search = browser.find_element(By.CLASS_NAME,"_3704LK")
prod_search

In [9]:
prod_search.send_keys("sunglasses")

In [10]:
cross_page = browser.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross_page

In [11]:
cross_page.click()

In [12]:
search_btn = browser.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn

search_btn.click()

In [16]:
brand_tag = browser.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')


brand = []

for i in brand_tag[0:100]:
    
    brand.append(i.text)
    
    
brand

['VINCENT CHASE',
 'ROZZETTA CRAFT',
 'DAHAAZIL',
 'New Specs',
 'Fastrack',
 'Elligator',
 'SUNBEE',
 'AISLIN',
 'SUNBEE',
 'PIRASO',
 'SRPM',
 'elegante',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'PIRASO',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'Lee Topper',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'elegante',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'NuVew',
 'GANSTA',
 'Fastrack',
 'Sewell',
 'ROZZETTA CRAFT',
 'hipe',
 'ROZZETTA CRAFT',
 'SRPM',
 'New Specs',
 'VINCENT CHASE']

In [25]:
prod_des = browser.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

description = []

for i in prod_des[0:100]:
    
    description.append(i.text) 

description

['Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Toughened Glass Lens, UV Protection Aviator, Wayfarer S...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (52)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection, Polarized Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Over-sized Sunglasses (65)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Aviator Sunglasses (57)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...']

In [28]:
next_button=browser.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    
price_tag = browser.find_elements(By.XPATH,'//div[@class="_30jeq3"]')


price = []

for i in price_tag[0:100]:
    
    price.append(i.text) 

price

['₹1,533',
 '₹379',
 '₹177',
 '₹264',
 '₹639',
 '₹315',
 '₹259',
 '₹975',
 '₹283',
 '₹224',
 '₹224',
 '₹499',
 '₹195',
 '₹799',
 '₹224',
 '₹759',
 '₹639',
 '₹359',
 '₹306',
 '₹379',
 '₹299',
 '₹229',
 '₹474',
 '₹759',
 '₹226',
 '₹246',
 '₹410',
 '₹499',
 '₹279',
 '₹1,039',
 '₹291',
 '₹314',
 '₹719',
 '₹265',
 '₹331',
 '₹233',
 '₹303',
 '₹219',
 '₹299',
 '₹799']

In [39]:
disc_tag = browser.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')


discount = []

for i in disc_tag[0:100]:
    
    discount.append(i.text) 

discount

['81% off',
 '57% off',
 '10% off',
 '84% off',
 '15% off',
 '85% off',
 '85% off',
 '83% off',
 '52% off',
 '80% off',
 '62% off',
 '69% off',
 '75% off',
 '79% off',
 '10% off',
 '52% off',
 '79% off',
 '79% off',
 '67% off',
 '69% off',
 '52% off',
 '25% off',
 '82% off',
 '55% off',
 '25% off',
 '82% off',
 '86% off',
 '74% off',
 '67% off',
 '81% off',
 '80% off',
 '65% off',
 '75% off',
 '8% off',
 '10% off',
 '64% off',
 '78% off',
 '84% off',
 '20% off',
 '50% off']

In [40]:
price_tag = browser.find_elements(By.XPATH,'//div[@class="_30jeq3"]')


price = []

for i in price_tag[0:100]:
    
    price.append(i.text) 
    
price

['₹379',
 '₹849',
 '₹899',
 '₹314',
 '₹759',
 '₹269',
 '₹289',
 '₹330',
 '₹949',
 '₹598',
 '₹265',
 '₹616',
 '₹245',
 '₹268',
 '₹899',
 '₹949',
 '₹329',
 '₹664',
 '₹260',
 '₹616',
 '₹949',
 '₹599',
 '₹269',
 '₹530',
 '₹899',
 '₹269',
 '₹214',
 '₹379',
 '₹498',
 '₹379',
 '₹324',
 '₹699',
 '₹249',
 '₹735',
 '₹809',
 '₹711',
 '₹217',
 '₹405',
 '₹639',
 '₹1,234']

In [41]:
df=pd.DataFrame()


df['Sunglass Brand'] = brand
df['Description'] = description
df['% Discount'] = discount
df['Price'] = price
df

,Sunglass Brand,Description,% Discount,Price
0,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)",81% off,₹379
1,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",57% off,₹849
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",10% off,₹899
3,New Specs,UV Protection Rectangular Sunglasses (Free Size),84% off,₹314
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),15% off,₹759
5,Elligator,UV Protection Round Sunglasses (54),85% off,₹269
6,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",85% off,₹289
7,AISLIN,"Toughened Glass Lens, UV Protection Aviator, W...",83% off,₹330
8,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",52% off,₹949
9,PIRASO,UV Protection Aviator Sunglasses (54),80% off,₹598
10,SRPM,UV Protection Wayfarer Sunglasses (50),62% off,₹265
11,elegante,"Polarized, Riding Glasses, Night Vision Sports...",69% off,₹616
12,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",75% off,₹245
13,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),79% off,₹268
14,PIRASO,UV Protection Aviator Sunglasses (54),10% off,₹899
15,ROYAL SON,"UV Protection, Polarized Wayfarer Sunglasses (54)",52% off,₹949
16,Fastrack,UV Protection Aviator Sunglasses (Free Size),79% off,₹329
17,PIRASO,UV Protection Aviator Sunglasses (58),79% off,₹664
18,PIRASO,UV Protection Retro Square Sunglasses (52),67% off,₹260
19,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),69% off,₹616
20,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),52% off,₹949
21,Lee Topper,UV Protection Cat-eye Sunglasses (Free Size),25% off,₹599
22,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",82% off,₹269
23,ROYAL SON,"UV Protection, Polarized Wayfarer Sunglasses (54)",55% off,₹530
24,PIRASO,UV Protection Wayfarer Sunglasses (32),25% off,₹899
25,PIRASO,UV Protection Aviator Sunglasses (54),82% off,₹269
26,PIRASO,UV Protection Over-sized Sunglasses (65),86% off,₹214
27,elegante,"Polarized, Riding Glasses, Night Vision Sports...",74% off,₹379
28,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),67% off,₹498
29,Fastrack,UV Protection Aviator Sunglasses (58),81% off,₹379
30,NuVew,UV Protection Sports Sunglasses (62),80% off,₹324
31,GANSTA,UV Protection Aviator Sunglasses (57),65% off,₹699
32,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",75% off,₹249
33,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",8% off,₹735
34,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",10% off,₹809
35,hipe,Mirrored Wayfarer Sunglasses (55),64% off,₹711
36,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),78% off,₹217
37,SRPM,"Others Wayfarer, Retro Square Sunglasses (50)",84% off,₹405
38,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",20% off,₹639
39,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",50% off,"₹1,234"

In [277]:
#Ques.5

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [278]:
browser = webdriver.Chrome()
browser.get('https://www.flipkart.com/')

In [279]:
prod_search = browser.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
prod_search

In [280]:
prod_search.send_keys("iphone 11")

In [283]:
go_btn = browser.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
go_btn

In [284]:
go_btn.click()

In [299]:
select_iphone = browser.find_element(By.XPATH,'//div[@class="_4rR01T"]')
select_iphone

select_iphone.click()

In [319]:
rating_tag = browser.find_element(By.XPATH,'//div[@class="_3LWZlK"]')

rating = []

for i in rating_tag:
         
    rating.append(i.text) 

rating

TypeError: 'WebElement' object is not iterable

In [53]:
sum_rev = browser.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')


Summary1 = []


for i in sum_rev:
    
    Summary1.append(i.text) 

    

Summary1

['Classy product',
 'Fair',
 'Worth every penny',
 'Worth every penny',
 'Just wow!',
 'Delightful',
 'Great product',
 'Unsatisfactory',
 'Best in the market!',
 'Great product']

In [54]:
det_summary = browser.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')


Summary2 = []

for i in det_summary:
    
    Summary2.append(i.text) 

Summary2

['Sunglasses are Just awesome and good looking pure transparent',
 'Not bad but good product rate wise',
 'Worth for the money, awesome product and quality is really good. Brand name (Fastrack) speaks👍.',
 'Awesome quality ......superb look',
 "If one's looking for comfortable wear. Please go for this product. It's amazing..! It fits me perfectly. Thank you for this cool product.",
 'Nice product Good Quality 👍🏻😊',
 'Very good 👍 product 😘 and number one quality 😍\nI am so happy 🥳😃 buying this product 😎',
 'Not a good product 👎',
 'Osmm product thanq flipcart I loved it🥰',
 'This product is highly good']

In [55]:
df=pd.DataFrame()


#df['Rating'] = rating
df['Review Summary'] = Summary1
df['Detailed Summary'] = Summary2
df

        Review Summary                                   Detailed Summary
0       Classy product  Sunglasses are Just awesome and good looking p...
1                 Fair                 Not bad but good product rate wise
2    Worth every penny  Worth for the money, awesome product and quali...
3    Worth every penny                  Awesome quality ......superb look
4            Just wow!  If one's looking for comfortable wear. Please ...
5           Delightful                      Nice product Good Quality 👍🏻😊
6        Great product  Very good 👍 product 😘 and number one quality 😍...
7       Unsatisfactory                               Not a good product 👎
8  Best in the market!            Osmm product thanq flipcart I loved it🥰
9        Great product                        This product is highly good

In [87]:
#Ques.6

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [88]:
browser = webdriver.Chrome()
browser.get('https://www.flipkart.com/')

In [89]:
prod_search = browser.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
prod_search

In [90]:
prod_search = prod_search.send_keys("sneakers")

In [91]:
cross_page = browser.find_element(By.XPATH,"/html/body/div[2]/div/div/button")

In [92]:
cross_page

In [93]:
cross_page.click()

In [94]:
go_btn = browser.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
go_btn

In [95]:
go_btn.click()

In [102]:
sneaker_type = browser.find_elements(By.XPATH,'//div[@class="_2B099V"]')

sneaker_name = []

for i in sneaker_type:
    
    sneaker_name(i.text)
    
sneaker_name

TypeError: 'list' object is not callable

In [103]:
sneaker_des = browser.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')

description = []

for i in sneaker_des:
    
    description(i.text)
    
description

TypeError: 'list' object is not callable

In [98]:
price_tag = browser.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

price = []

for i in price_tag:
    
    price(i.text)
    
price

TypeError: 'list' object is not callable

In [99]:
df=pd.DataFrame()


#df['Sneaker Brand'] = sneaker_name
df['Description'] = description
df['Price'] = price
df

Empty DataFrame
Columns: [Description, Price]
Index: []

In [263]:
#Ques.7

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [264]:
browser = webdriver.Chrome()
browser.get('https://www.myntra.com/shoes')

WebDriverException: Message: unknown error: cannot determine loading status
from unknown error: unexpected command response
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00596463+2188387]
	Ordinal0 [0x0052E461+1762401]
	Ordinal0 [0x00443D78+802168]
	Ordinal0 [0x00437210+750096]
	Ordinal0 [0x0043675A+747354]
	Ordinal0 [0x00435D3F+744767]
	Ordinal0 [0x00434C28+740392]
	Ordinal0 [0x00435228+741928]
	Ordinal0 [0x0043EF2F+782127]
	Ordinal0 [0x00449FBB+827323]
	Ordinal0 [0x0044D310+840464]
	Ordinal0 [0x004354F6+742646]
	Ordinal0 [0x00449BF3+826355]
	Ordinal0 [0x0049CF6D+1167213]
	Ordinal0 [0x0048C5F6+1099254]
	Ordinal0 [0x00466BE0+945120]
	Ordinal0 [0x00467AD6+948950]
	GetHandleVerifier [0x008371F2+2712546]
	GetHandleVerifier [0x0082886D+2652765]
	GetHandleVerifier [0x0062002A+520730]
	GetHandleVerifier [0x0061EE06+516086]
	Ordinal0 [0x0053468B+1787531]
	Ordinal0 [0x00538E88+1805960]
	Ordinal0 [0x00538F75+1806197]
	Ordinal0 [0x00541DF1+1842673]
	BaseThreadInitThunk [0x766D6739+25]
	RtlGetFullPathName_UEx [0x77878FEF+1215]
	RtlGetFullPathName_UEx [0x77878FBD+1165]

In [ ]:
#right click is disabled on this page. inspect is not working

#discussed about the issue in Ticket #10337

In [265]:
prod_search.send_keys("sneakers")

WebDriverException: Message: chrome not reachable
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00596463+2188387]
	Ordinal0 [0x0052E461+1762401]
	Ordinal0 [0x00443C40+801856]
	Ordinal0 [0x00438932+756018]
	Ordinal0 [0x00439168+758120]
	Ordinal0 [0x0043AA22+764450]
	Ordinal0 [0x00434379+738169]
	Ordinal0 [0x004450D0+807120]
	Ordinal0 [0x0049C402+1164290]
	Ordinal0 [0x0048C5F6+1099254]
	Ordinal0 [0x00466BE0+945120]
	Ordinal0 [0x00467AD6+948950]
	GetHandleVerifier [0x008371F2+2712546]
	GetHandleVerifier [0x0082886D+2652765]
	GetHandleVerifier [0x0062002A+520730]
	GetHandleVerifier [0x0061EE06+516086]
	Ordinal0 [0x0053468B+1787531]
	Ordinal0 [0x00538E88+1805960]
	Ordinal0 [0x00538F75+1806197]
	Ordinal0 [0x00541DF1+1842673]
	BaseThreadInitThunk [0x766D6739+25]
	RtlGetFullPathName_UEx [0x77878FEF+1215]
	RtlGetFullPathName_UEx [0x77878FBD+1165]

In [86]:
#Ques.8

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [87]:
browser = webdriver.Chrome()
browser.get('https://www.amazon.in/')

In [90]:
search_prod = browser.find_element(By.XPATH,'//input[@type="text"]')
search_prod

In [91]:
search_prod.send_keys("Laptop")

In [92]:
go_btn = browser.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
go_btn

In [93]:
go_btn.click()

In [94]:
cpu_type = browser.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[2]/li[12]/span/a/div/label/i")
cpu_type

In [95]:
cpu_type.click()

In [100]:
title_tag = browser.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')

title = []

for i in title_tag[0:10]:
    
     title.append(i.text) 

title

['Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th Gen 14" (35.56cm) 2.2K IPS Thin & Light Laptop (16GB/512GB SSD/Win11/Office 2021/Backlit/3Yr Warranty/3months Game Pass/Storm Grey/1.38Kg), 82L3006YIN',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver',
 'Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th Gen 14" (35.56cm) 2.2K IPS Thin & Light Laptop (16GB/512GB SSD/Win11/Office 2021/Backlit/3Yr Warranty/3months Game Pass/Storm Grey/1.38Kg), 82L3006YIN',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'HP Envy 11th Gen Intel Evo Core i7 14 inch(35.6 cm) WUXGA Anti-Glare Display 2-in-1 Laptop(16GB RAM/1TB SSD/GTX 1650 4GB Graphics/400 nits/Win 11/MS Office/FPR/B&O/Alexa Built-in/1.59 Kg), 14-eb0021TX',
 'ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2.8K OLED 16:10 90Hz, Intel Core Evo i7-1260P 12th Gen, Thin and Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Blue/1.39 kg), UX3402ZA-KM731WS',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-inch (35.56cm) FHD TN Antiglare Thin and Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/Microsoft Office H&S 2021/FPR/Black/1.59 kg), 20TAS1B400']

In [116]:
rating_tag = browser.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star a-star-4"]')

rating = []

for i in rating_tag[0:10]:
    
     rating.append(i.text) 

rating   #find the right class

['']

In [113]:
price_tag = browser.find_elements(By.XPATH,'//span[@aria-label="3.8 out of 5 stars"]')


price = []

for i in price_tag[0:10]:
    
    price.append(i.text) 
    

price

['', '', '', '', '']

In [109]:
df=pd.DataFrame()

df['Laptop Name'] = title
df['Rating'] = rating
df['Price'] = price

df

                                         Laptop Name Rating     Price
0  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...           75,990
1  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...           84,990
2  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...           57,890
3  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...           87,900
4  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...           75,990
5  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...           82,990
6  HP Envy 11th Gen Intel Evo Core i7 14 inch(35....           99,499
7  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...         1,04,990
8  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...           86,990
9  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...           94,990

In [131]:
#Ques.9

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [132]:
browser = webdriver.Chrome()
browser.get('https://www.ambitionbox.com/')

In [133]:
jobs_btn = browser.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]")
jobs_btn

jobs_btn.click()

In [134]:
srch_job = browser.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
srch_job

In [135]:
srch_job.send_keys("Data Scientist")

In [136]:
go_btn = browser.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
go_btn

go_btn.click()

In [138]:
loc_chk = browser.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[7]/div/label")
loc_chk

In [139]:
pos_tag = browser.find_elements(By.XPATH,'//a[@class="title noclick"]')

position = []

for i in pos_tag[0:10]:
    
    position.append(i.text) 


position

['Data Scientist: Artificial Intelligence',
 'Data Scientist: Advanced Analytics',
 'Principal - Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Senior Data Scientist',
 'AVP / VP Data Scientist (Model Validation)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [140]:

company_tag = browser.find_elements(By.XPATH,'//p[@class="company body-medium"]')

company = []

for i in company_tag[0:10]:
    company.append(i.text) 


company

['IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Schneider Electric India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Walmart Labs',
 'J.P. Morgan Services India Private Limited',
 'Shell India Markets Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited']

In [157]:
days_tag = browser.find_elements(By.XPATH,'//span[@class="body-small-l"]')

daysposted = []

for i in days_tag[0:10]:
    
    daysposted.append(i.text)
    

daysposted


#there are two seperate parts giving the timeframe and the website name..i am unable to split it

['1d ago',
 'via naukri.com',
 '2d ago',
 'via naukri.com',
 '2d ago',
 'via naukri.com',
 '2d ago',
 'via naukri.com',
 '2d ago',
 'via naukri.com']

In [152]:
rate_tag = browser.find_elements(By.XPATH,'//span[@class="body-small"]')

rating = []

for i in rate_tag[0:10]:
    rating.append(i.text)

rating

['4.2', '4.2', '4.2', '4.2', '4.2', '4.2', '4.2', '4.4', '4.2', '4.2']

In [158]:
df = pd.DataFrame()

df['Job Role'] = position
df['Company Name'] = company
df['Company Rating'] = rating
#df['Job Posted'] = daysposted
df

,Job Role,Company Name,Company Rating
0,Data Scientist: Artificial Intelligence,IBM India Pvt. Limited,4.2
1,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,4.2
2,Principal - Data Scientist,Schneider Electric India Pvt. Ltd.,4.2
3,Data Scientist: Artificial Intelligence,IBM India Pvt. Limited,4.2
4,Data Scientist: Artificial Intelligence,IBM India Pvt. Limited,4.2
5,Senior Data Scientist,Walmart Labs,4.2
6,AVP / VP Data Scientist (Model Validation),J.P. Morgan Services India Private Limited,4.2
7,Data Scientist,Shell India Markets Private Limited,4.4
8,Data Scientist,IBM India Pvt. Limited,4.2
9,Data Scientist,IBM India Pvt. Limited,4.2

In [159]:
#Ques.10

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

browser = webdriver.Chrome()
browser.get('https://www.ambitionbox.com/')

In [160]:
slry_btn = browser.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]")
slry_btn

In [161]:
slry_btn.click()

In [162]:
srch_job = browser.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
srch_job

In [163]:
srch_job.send_keys("Data Scientist")

In [164]:
srch_job = browser.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
srch_job
 #this step to find and click on data scientist is not working. clicked manually

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]"}
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x004F6463+2188387]
	Ordinal0 [0x0048E461+1762401]
	Ordinal0 [0x003A3D78+802168]
	Ordinal0 [0x003D1880+989312]
	Ordinal0 [0x003D1B1B+989979]
	Ordinal0 [0x003FE912+1173778]
	Ordinal0 [0x003EC824+1099812]
	Ordinal0 [0x003FCC22+1166370]
	Ordinal0 [0x003EC5F6+1099254]
	Ordinal0 [0x003C6BE0+945120]
	Ordinal0 [0x003C7AD6+948950]
	GetHandleVerifier [0x007971F2+2712546]
	GetHandleVerifier [0x0078886D+2652765]
	GetHandleVerifier [0x0058002A+520730]
	GetHandleVerifier [0x0057EE06+516086]
	Ordinal0 [0x0049468B+1787531]
	Ordinal0 [0x00498E88+1805960]
	Ordinal0 [0x00498F75+1806197]
	Ordinal0 [0x004A1DF1+1842673]
	BaseThreadInitThunk [0x766D6739+25]
	RtlGetFullPathName_UEx [0x77878FEF+1215]
	RtlGetFullPathName_UEx [0x77878FBD+1165]

In [165]:
srch_job.click() #this is not working

ElementClickInterceptedException: Message: element click intercepted: Element <input type="searchbox" id="jobProfileSearchbox" placeholder="Search job profiles" autocomplete="off" value="" data-v-4c07f399="" class="tt-input" spellcheck="false" dir="auto" aria-activedescendant="" aria-owns="jobProfileSearchbox_listbox" role="combobox" aria-readonly="true" aria-autocomplete="list" style="position: relative; vertical-align: top;"> is not clickable at point (252, 11). Other element would receive the click: <div class="nav-list-left">...</div>
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x004F6463+2188387]
	Ordinal0 [0x0048E461+1762401]
	Ordinal0 [0x003A3D78+802168]
	Ordinal0 [0x003D7F9B+1015707]
	Ordinal0 [0x003D5F68+1007464]
	Ordinal0 [0x003D3C6B+998507]
	Ordinal0 [0x003D29D9+993753]
	Ordinal0 [0x003C8613+951827]
	Ordinal0 [0x003EC7DC+1099740]
	Ordinal0 [0x003C7FF4+950260]
	Ordinal0 [0x003EC9F4+1100276]
	Ordinal0 [0x003FCC22+1166370]
	Ordinal0 [0x003EC5F6+1099254]
	Ordinal0 [0x003C6BE0+945120]
	Ordinal0 [0x003C7AD6+948950]
	GetHandleVerifier [0x007971F2+2712546]
	GetHandleVerifier [0x0078886D+2652765]
	GetHandleVerifier [0x0058002A+520730]
	GetHandleVerifier [0x0057EE06+516086]
	Ordinal0 [0x0049468B+1787531]
	Ordinal0 [0x00498E88+1805960]
	Ordinal0 [0x00498F75+1806197]
	Ordinal0 [0x004A1DF1+1842673]
	BaseThreadInitThunk [0x766D6739+25]
	RtlGetFullPathName_UEx [0x77878FEF+1215]
	RtlGetFullPathName_UEx [0x77878FBD+1165]

In [182]:
 
Compny=browser.find_elements(By.XPATH,'//div[@class="company-info"]')
                             
comp = []

for i in Compny[0:10]:

    comp.append(i.text)
        
comp

['Walmart\nData Scientist Salary\n3 yrs experience (based on 12 salaries)',
 'Ab Inbev\nData Scientist Salary\n3-4 yrs experience (based on 33 salaries)',
 'ZS\nData Scientist Salary\n2 yrs experience (based on 15 salaries)',
 'Optum\nData Scientist Salary\n3-4 yrs experience (based on 32 salaries)',
 'Reliance Jio\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)',
 'Fractal Analytics\nData Scientist Salary\n2-4 yrs experience (based on 89 salaries)',
 'Tiger Analytics\nData Scientist Salary\n2-4 yrs experience (based on 51 salaries)',
 'UnitedHealth\nData Scientist Salary\n2-4 yrs experience (based on 57 salaries)',
 'EXL Service\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)',
 'Deloitte\nData Scientist Salary\n2-4 yrs experience (based on 69 salaries)']

In [183]:
exp_tag = browser.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')


experience_req = []

for i in exp_tag[0:10]:
    
    experience_req.append(i.text)


experience_req

['3 yrs experience (based on 12 salaries)',
 '3-4 yrs experience (based on 33 salaries)',
 '2 yrs experience (based on 15 salaries)',
 '3-4 yrs experience (based on 32 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 89 salaries)',
 '2-4 yrs experience (based on 51 salaries)',
 '2-4 yrs experience (based on 57 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 69 salaries)']

In [184]:
min_sal = browser.find_elements(By.XPATH,'//div[@class="value body-medium"]')


Minimum_Salary = []

for i in min_sal[0:10]:
    Minimum_Salary.append(i.text)

Minimum_Salary

['₹ 25.0L',
 '₹ 36.0L',
 '₹ 15.0L',
 '₹ 26.2L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 11.0L',
 '₹ 22.5L',
 '₹ 5.6L',
 '₹ 26.2L']

In [185]:
max_sal = browser.find_elements(By.XPATH,'//div[@class="value body-medium"]')


Maximum_Salary = []

for i in max_sal[0:10]:
    
    Maximum_Salary.append(i.text)


Maximum_Salary

['₹ 25.0L',
 '₹ 36.0L',
 '₹ 15.0L',
 '₹ 26.2L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 11.0L',
 '₹ 22.5L',
 '₹ 5.6L',
 '₹ 26.2L']

In [186]:
avg_sal = browser.find_elements(By.XPATH,'//p[@class="averageCtc"]')

Average_Salary = []

for i in avg_sal[0:10]:
    
    Average_Salary.append(i.text)


Average_Salary

['₹ 30.6L',
 '₹ 20.8L',
 '₹ 16.7L',
 '₹ 15.9L',
 '₹ 15.7L',
 '₹ 15.5L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 13.2L',
 '₹ 12.8L']

In [187]:
df=pd.DataFrame()


df['Company Name'] = comp
df['Experience Required'] = experience_req
df['Minimum Salary'] = Minimum_Salary
df['Maximum Salary'] = Minimum_Salary
df['Average Salary'] = Minimum_Salary
df

,Company Name,Experience Required,Minimum Salary,Maximum Salary,Average Salary
0,Walmart\nData Scientist Salary\n3 yrs experien...,3 yrs experience (based on 12 salaries),₹ 25.0L,₹ 25.0L,₹ 25.0L
1,Ab Inbev\nData Scientist Salary\n3-4 yrs exper...,3-4 yrs experience (based on 33 salaries),₹ 36.0L,₹ 36.0L,₹ 36.0L
2,ZS\nData Scientist Salary\n2 yrs experience (b...,2 yrs experience (based on 15 salaries),₹ 15.0L,₹ 15.0L,₹ 15.0L
3,Optum\nData Scientist Salary\n3-4 yrs experien...,3-4 yrs experience (based on 32 salaries),₹ 26.2L,₹ 26.2L,₹ 26.2L
4,Reliance Jio\nData Scientist Salary\n3-4 yrs e...,3-4 yrs experience (based on 21 salaries),₹ 11.0L,₹ 11.0L,₹ 11.0L
5,Fractal Analytics\nData Scientist Salary\n2-4 ...,2-4 yrs experience (based on 89 salaries),₹ 22.0L,₹ 22.0L,₹ 22.0L
6,Tiger Analytics\nData Scientist Salary\n2-4 yr...,2-4 yrs experience (based on 51 salaries),₹ 11.0L,₹ 11.0L,₹ 11.0L
7,UnitedHealth\nData Scientist Salary\n2-4 yrs e...,2-4 yrs experience (based on 57 salaries),₹ 22.5L,₹ 22.5L,₹ 22.5L
8,EXL Service\nData Scientist Salary\n3-4 yrs ex...,3-4 yrs experience (based on 21 salaries),₹ 5.6L,₹ 5.6L,₹ 5.6L
9,Deloitte\nData Scientist Salary\n2-4 yrs exper...,2-4 yrs experience (based on 69 salaries),₹ 26.2L,₹ 26.2L,₹ 26.2L